/*公共*/
html { font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; min-width: 320px; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; -ms-touch-action: none; }
body { margin: 0; font-size: 14px; line-height: 1.5;  background-color: white; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; color:#333}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }
a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #333; }
b, strong { font-weight: bold; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
em { font-style: normal;}
button, input, optgroup, select, textarea { font: inherit; margin: 0; }
button { overflow: visible; outline: none; text-shadow: none; text-indent: 0; -webkit-appearance: button; text-transform: none; letter-spacing: normal;border: none;}
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
html, button, input, select, textarea { font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; font-weight: normal; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { line-height: 2; font-weight: normal; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.col-sm-1, .col-sm-1, .col-md-1, .col-lg-1, .col-sm-2, .col-sm-2, .col-md-2, .col-lg-2, .col-sm-3, .col-sm-3, .col-md-3, .col-lg-3, .col-sm-4, .col-sm-4, .col-md-4, .col-lg-4, .col-sm-5, .col-sm-5, .col-md-5, .col-lg-5, .col-sm-6, .col-sm-6, .col-md-6, .col-lg-6, .col-sm-7, .col-sm-7, .col-md-7, .col-lg-7, .col-sm-8, .col-sm-8, .col-md-8, .col-lg-8, .col-sm-9, .col-sm-9, .col-md-9, .col-lg-9, .col-sm-10, .col-sm-10, .col-md-10, .col-lg-10, .col-sm-11, .col-sm-11, .col-md-11, .col-lg-11, .col-sm-12, .col-sm-12, .col-md-12, .col-lg-12 {position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {float: left;}
.col-sm-12 {width: 100%;}
.col-sm-11 {width: 91.66666667%;}
.col-sm-10 {width: 83.33333333%;}
.col-sm-9 {width: 75%;}
.col-sm-8 {width: 66.66666667%;}
.col-sm-7 {width: 58.33333333%;}
.col-sm-6 {width: 50%;}
.col-sm-5 {width: 41.66666667%;}
.col-sm-4 {width: 33.33333333%;}
.col-sm-3 {width: 25%;}
.col-sm-2 {width: 16.66666667%;}
.col-sm-1 {width: 8.33333333%;}
.col-sm-offset-12 {margin-left: 100%;}
.col-sm-offset-11 {margin-left: 91.66666667%;}
.col-sm-offset-10 {margin-left: 83.33333333%;}
.col-sm-offset-9 {margin-left: 75%;}
.col-sm-offset-8 {margin-left: 66.66666667%;}
.col-sm-offset-7 {margin-left: 58.33333333%;}
.col-sm-offset-6 {margin-left: 50%;}
.col-sm-offset-5 {margin-left: 41.66666667%;}
.col-sm-offset-4 {margin-left: 33.33333333%;}
.col-sm-offset-3 {margin-left: 25%;}
.col-sm-offset-2 {margin-left: 16.66666667%;}
.col-sm-offset-1 {margin-left: 8.33333333%;}
.col-sm-offset-0 {margin-left: 0;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.pull-right {float: right !important;}
.pull-left {float: left !important;}

.form-control {display: block;width: 100%;padding: 5px 7px;font-size: 1.4rem;line-height: 1.42857143;
  background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;}
.form-control:focus {outline: 0;}
.form-control::-moz-placeholder {color: #999;opacity: 1;}
.form-control:-ms-input-placeholder {color: #999;}
.form-control::-webkit-input-placeholder {color: #999;}
.clearfix:before, .clearfix:after{clear: both;display: table;content: " ";}
.clearfix { *zoom: 1; } 
.img-responsive{display: block;max-width: 100%;height: auto;}
.btn {
  display: inline-block;
  padding: 5px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.checkbox {position: relative;display: block;margin-top: 10px;margin-bottom: 10px;}
.fs18{font-size:1.8rem;}
.fs16{font-size:1.6rem;}
.fs14{font-size:1.4rem;}
.fs12{font-size:1.2rem;}

.pd10{padding:10px;}
.pd0{padding:0px;}
.pr0{padding-right:0px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.mt5{margin-top: 5px;}
.ml5{padding-left:5px;}
.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.mr10{margin-right:10px;}
.ml30{margin-left:-50px;}

.borderTop{border-top:1px dashed #e4e4e4;}
.borderTopRed{border-top: 1px solid #D91648;}
.border{border:1px solid #e4e4e4;}
.block{display: block;}
.none{display: none;}
.fc_red{color: #D91648;}
.h100{height:100%}
/*main*/
/*商品详情页1*/
.main{width:100%;height:100%;}
.rn-i-header{width:100%;height:42px;background-color: #d91648;}
.rn-i-p{color: #3d4245;font-size: 1.6rem;}
.rn-i-section{padding:10px;}
.rn-i-img{top: 15px;right:10px;width:12px;height:12px;display: block;position: absolute;}
.rn-i-div2{position: relative;display: block;height: 70px;}
.rn-i-div2 img{z-index: -1;position: absolute;}
.rn-i-div2 p{position: relative;color: #ca0d13;font-weight: bold;font-size: 1.4rem;z-index: 2;text-align: center;line-height: 70px;}
.rn-i-div2 p span{font-size: 2rem;}
.rn-i-div3{height: 70px;}
.rn-i-div6{height: 80px;}
.rn-i-div3 p{color: #575b5d;font-size: 1.2rem;position: relative;}
.rn-i-div3 .rn-i-p2{position: absolute;bottom: 0;}
.rn-i-div4{position: absolute;bottom: 0;}
.rn-i-div4 p{font-size: 1.4rem;}
.rn-i-div4 .rn-i-p4 span{text-decoration:line-through;}
.rn-i-div4 .rn-i-p4 i{color:#d91648;margin-right:10px;font-style: normal;}
.rn-i-div5{position: relative;height:80px}
.rn-i-div5 img{height:70px;margin-top:5px;}
.rn-i-footer {margin-left:10px;}

/*购物车*/
.rn-i-header p{color:#fff;line-height: 42px;font-size: 1.6rem;}
.rn-sc-div2{padding: 5px;position: relative;z-index: -1;}
.rn-sc-div2 p span{color: #d91648;margin-right:10px;}
.rn-sc-div2 p i{font-style: normal;text-decoration:line-through;}
.rn-sc-div5{line-height:35px;}
.rn-sc-div5 .rn-sc-div3{background-color: #bcbcbc;color: #fff;font-size: 1.6rem;}
.rn-sc-div5 .rn-sc-div3 span{color: #d91648;}
.rn-sc-div5 .rn-sc-div3 i{font-style: normal;}
.rn-sc-div5 .rn-sc-div4{background-color: #d91648;font-size: 1.6rem;color: #fff;}
.rn-sc-div1 img{height:150px;}

/*支付完成页-优惠券*/
.rn-btn-active{background-color: #d91648;color: #fff;}
.rn-fc-btn1{background-color: #fff;border: 1px solid #D91648;}

/*订单查看页*/
.rn-wo-div1{height: 70px;position: relative;}
.rn-wo-btn{background-color: #D91648;color: #333333;position: absolute;bottom:0px;right:0px;}
.rn-wo-btn2{background-color: #D91648;color: #fff;position: absolute;bottom:0px;right:0px;}
.rn-wo-img{width: 40%;height: 40%;}

/*获取优惠券*/
.rn-gc-btn{background-color: #D91648;color: #fff;}
.rn-gc-btn2 button{background-color: #D91648;color: #fff;height: 33px;}
.rn-gc-input input{line-height: 30px;outline: none;border: 1px solid #ccc;}
.rn-gc-btn3 button{line-height: 30px;width:60px;}
.rn-gc-img img{float: left;margin-left:-1px;height:33px}
.rn-gc-img2{position: absolute;z-index: 5;width: 90%;margin:60% 5% 5%;}
.rn-gc-img2 img{position: relative;margin:0 auto;z-index:6;width: 100%;}
.rn-gc-del{width:25px;height:25px;border-radius:15px;color: #fff;background-color: #D91648;text-align: center;font-weight: bold;position: absolute;top:0;right:0px;z-index: 10;line-height: 25px;}

/*复选框样式*/
.rn-sc-radio{position: absolute;top:10px;right:10px;}
.chk_1 { display: none; } 
 .chk_1 + label { 
	  width:15px;
	  height:15px;
    background-color: #FFF; 
    border: 1px solid #C1CACA; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); 
    padding: 9px; 
    border-radius: 10px; 
    display: inline-block; 
    position: relative; 
} 
.chk_1 + label:active { 
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); 
} 
 
.chk_1:checked + label { 
    background-color: #d91648; 
    border: 1px solid #d91648; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); 
    color: #000; 
} 
 
.chk_1:checked + label:after { 
    content: url(../img/right.png);	
    position: absolute; 
    top: 0px; 
    left: 0px; 
    color: #FFF; 
    width: 100%; 
    text-align: center; 
    font-size: 1.0em; 
    vertical-align: text-top; 
}